<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!--  -->
        <a class="navbar-brand" href="#"><img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/favicon/1666227203/favicon.ico"
            alt="" width="60" height="54" class="d-inline-block center">
        Argentina Programa</a>
        <!--  -->
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" style="margin-left: auto;">
                <div class="row" style="margin-right: 5px;">

                    <button class="col-xs-2 col-sm-2 col-md-2 btn btn-outline-dark" style="width: 50px; margin-left: auto;"><a href="#"><i class="fa-brands fa-facebook-f fa-lg fa-color"></i></a></button>
                    <button class="col-xs-2 col-sm-2 col-md-2 btn btn-outline-dark" style="width: 50px;"> <a href="#"><i class="fa-brands fa-instagram fa-lg fa-color"></i></a></button>
                    <button class="col-xs-2 col-sm-2 col-md-2 btn btn-outline-dark" style="width: 50px;"><a href="#"><i class="fa-brands fa-twitter fa-lg fa-color"></i></a></button>
                    <button class="col-xs-2 col-sm-2 col-md-2 btn btn-outline-dark" style="width: 50px;"><a href="#"><i class="fa-brands fa-github fa-lg fa-color"></i></a></button>
                    <button class="col-xs-2 col-sm-2 col-md-2 btn btn-outline-dark" style="width: 50px; margin-right: auto;"><a href="#"><i class="fa-brands fa-linkedin-in fa-lg fa-color"></i></a></button>
                    
                </div>
                <!--  -->
                <a href="/login" style=" margin-left: auto; margin-right: auto;"><button class="btn btn-dark rounded-pill log" style="width: 120px; margin-left: auto; margin-right: auto;">
                    <i class="fa-solid fa-right-to-bracket fa-lg" style="color: #ffffff;"></i> Acceder
                </button></a>
                <!--  -->
            </div>
        </div>
    </div>
</nav>

<app-banner></app-banner>