

<div class="container" style="margin-bottom: 160px;">
    <h1 style="margin-bottom: 60px;">Educacion</h1>
    
        <div cdkDrag class=" d-flex justify.content-center row mt-1 mb-1" 
        style="height:auto; width: 60%; margin-top: auto; margin-bottom: auto;margin-right: auto;margin-left: auto ;border-radius: 15px ;background-color: rgb(222, 220, 230);">
    
            <div class="col-sm-12 col-md-4 col-lg-4 ">
                <div class="col-12 d-flex justify-content-center"><h3 style="margin-top: 10px;">Titulo 14</h3></div>
                <div class="col-12  d-flex justify-content-center" style="border-radius: 10px;background-color: rgb(39, 39, 41);"><img src="" 
                    style="min-height: 80px;max-width: 730%;"></div>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8 mt-4"
            style="background-color: rgba(222, 220, 230);border-radius: 0 0 10px 10px; height: 100%;">
                <b>Periodo</b>
                <p>Descripcion: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo asperiores ducimus officiis nemo incidunt omnis mollitia, expedita facilis qui sapiente cumque necessitatibus! Nisi velit incidunt vitae non assumenda ullam mollitia? </p>
                
            </div>
    
        </div>
    
    </div>