


<div class="container">

    <div class="row">
        <span class="col-sm-12 col-md-12 col-lg-12">
            <h2 style="margin: 60px;">Proyectos</h2>

        </span>
        <!-- acordion -->
        <span class="col-sm-12 col-md-12 col-lg-12">
            <div class="accordion " id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        Titulo del Proyecto
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Fecha</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit nesciunt beatae eligendi dolore illum
                            corrupti atque rerum? Inventore, corrupti? Numquam harum assumenda aliquam modi adipisci molestiae
                            voluptatibus est unde id!</p>
                            <a href="#"><button class="btn btn-dark btn-lg" type="button">Link</button></a>  
                        </div>
                    </div>
                </div>
            </div>

        </span>
    </div>
</div>
<div style="margin-bottom: 100px;"></div>



