
<div class="container">
    <div class="row">
        <div class="d-flex col-xs-12 col-sm-12 col-md-12 col-lg-4 holder justify-content-center" style="height: 180px;">
            <div class="imghost rounded-circle"><img class="img" src="assets/img/profile.jpg" style="width: 200px; height: 270px;"></div>
        </div>
    </div>
    <div class="row">
        <!--    datos bajo foto    -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 text-center">
            <p class="fs-2"><b>David Miqueas Bartelou</b></p>
            <p>Full Stack Developer Jr</p>
        </div>

        <span class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <h1><b>Acerca de mi...</b></h1>
            <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Eos cum ipsum odit unde ducimus, quam vero vel repellat enim? 
            ut cumque ab iusto aut sunt quas. Ad, ratione pariatur?</p>
            </div>
            
        </span>
        
    </div>
</div>
<br>
<!-- aca va la linea divisora -->
<p></p>
<br>